{% extends 'base.html' %}

{% load staticfiles %} 

{% block css %}
    <link href="{% static 'showcase/css/map.css' %}" rel="stylesheet">        
{% endblock %}

{% block content %}
{% include 'includes/nav.html' %}
{% load widget_tweaks %}

<div class="row container">
    <div class="collection with-header">
        <div class="collection-header"><h4>Mis notificaciones</h4></div>        
        {% for notification in object_list %}
        <a href="/notification/{{ notification.id }}/read/?next={{ notification.url }}" class="collection-item">
            {{ notification.message }}
            <p><i class="material-icons">access_time</i>Hace {{ notification.date|timesince }}</p>
        </a>        
        {% empty %}
        <div class="collection-item">No tienes notificaciones aún.</div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
{% endblock %}