{% if profiles %}
<ul class="collection">
    {% for profile in profiles %}
    <li class="collection-item avatar">
        {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="" class="circle">
        {% else %}
        <i class="material-icons circle">perm_identity</i>
        {% endif %}
        <span class="title">{{ profile.get_full_name }}</span>
        <p>{{ profile.user.username }}</p>

        <div class="actions">
            {% if status == 'friends'  %}
            <a href="/profiles/send-request/{{ profile.id }}/" class="secondary-content"><i class="material-icons">close</i></a>
            {% elif status == 'sent' %}
            <a href="/profiles/send-request/{{ profile.id }}/" class="secondary-content"><i class="material-icons">close</i></a>
            {% else %}            
            <a href="{% url 'profile_accept_request' profile.id %}">
                <i class="material-icons">done</i>
            </a>
            <a href="{% url 'profile_reject_request' profile.id %}">
                <i class="material-icons">close</i>
            </a>            
            {% endif %}            
        </div>

    </li>
    {% endfor %}                
</ul>
{% endif %}