{% extends 'base.html' %}

{% load static %}

{% block content %}
{% include 'includes/nav.html' %}
{% load widget_tweaks %}

{% include "includes/errors.html" with form=form %}
{% include "includes/errors.html" with form=commercial_form %}


<div class="container">

    <div class="card row ">
        <img src="{% static 'showcase/img/recepcionista.png' %}" class="responsive-img">

        <div class="card-content ">
            <p class="flow-text " ALIGN="justify"> Por favor asegúrese de haber ingresado su localidad con anterioridad.  
            </p>
            <p><strong class="amber-text text-darken-3 "> Procure ingresar correctamente la información otorgada en este formulario. </strong></p>
        </div>
        
    </div>

    <div class="modal" id="pay-modal">
    <div class="modal-content">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons"> tap_and_play </i> Dinero electrónico</div>
          <div class="collapsible-body">Al número <span  class="cyan-text">{{ offer.commercial.telephone }} </span> por el monto de <span class="cyan-text"> ${{ offer.price }} </span> (Llamar al *153#)</div>
        </li>
        <li>
          <div class="collapsible-header"> <i class="material-icons"> account_balance </i> Depósito en Cooperativa Jardín Azuayo</div>
          <div class="collapsible-body"><p>Cuenta de ahorros número: <span  class="cyan-text"> 1400292 </span> <br> De: <span  class="cyan-text"> {{ offer.commercial.locality.owner.get_full_name }} </span> <br> Monto: <span class="cyan-text"> ${{ offer.price }}</p> <p> <br> <i class="red-text material-icons tiny">error_outline</i> Antes de realizar un pago vía depósito asegurese de ponerse en contacto con el vendedor. </p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"> account_balance </i> Depósito en Banco del Austro </div>
          <div class="collapsible-body"><p>Cuenta de ahorros número: <span  class="cyan-text"> 14613854 </span> <br> De: <span  class="cyan-text"> {{ offer.commercial.locality.owner.get_full_name }} </span> <br> Monto: <span class="cyan-text"> ${{ offer.price }}</p> <p> <br> <i class="red-text material-icons tiny">error_outline</i> Antes de realizar un pago vía depósito asegurese de ponerse en contacto con el vendedor. </p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"> account_balance </i>Depósito en Ban Ecuador </div>
          <div class="collapsible-body"><p>Cuenta de ahorros número: <span  class="cyan-text"> 4005511389 </span> <br> De: <span  class="cyan-text">{{ offer.commercial.locality.owner.get_full_name }} <br> Monto: <span class="cyan-text"> ${{ offer.price }}</p> </span> <p> <br> <i class="red-text material-icons tiny">error_outline</i> Se advierte que  </p></div>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-cyan btn-flat">Cancelar</a>
    </div> 
    </div>             

    <form class="row" action="" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}        
        <div class="col s12">                                
            <h5>Datos de perfil</h5>
        </div>        

        <div class="input-field col m6 s12">
            {{ form.first_name|add_class:"validate" }}
            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        </div>

        <div class="input-field col m6 s12">
            {{ form.last_name|add_class:"validate" }}
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
        </div>

        <div class="input-field col m6 s12">
            {{ form.charter|add_class:"validate" }}
            <label for="{{ form.charter.id_for_label }}">{{ form.charter.label }}</label>
        </div>

        <div class="input-field col m6 s12">
            {{ form.cellphone|add_class:"validate" }}
            <label for="{{ form.cellphone.id_for_label }}">{{ form.cellphone.label }}</label>
        </div>    
        

        <input type="hidden" name="user" value="{{ user.id }}">

        <div class="col s12">                                
            <h5>Asocia una localidad a tu cuenta comercial</h5>
        </div>

        <div class="input-field col s12">
            {{ commercial_form.locality|add_class:"validate" }}
            <label for="{{ commercial_form.locality.id_for_label }}">{{ commercial_form.locality.label }}</label>
        </div>

        <div class="col s12">                                
            <h5>Datos de negocio</h5>
        </div>

        <div class="input-field col m6 s12">
            {{ commercial_form.ruc|add_class:"validate" }}
            <label for="{{ commercial_form.ruc.id_for_label }}">{{ commercial_form.ruc.label }}</label>
        </div>

        <div class="input-field col m6 s12">
            {{ commercial_form.address|add_class:"validate" }}
            <label for="{{ commercial_form.address.id_for_label }}">{{ commercial_form.address.label }}</label>
        </div>

        <div class="input-field col m6 s12">
            {{ commercial_form.telephone|add_class:"validate" }}
            <label for="{{ commercial_form.telephone.id_for_label }}">{{ commercial_form.telephone.label }}</label>
        </div>

        <div class="input-field col m6 s12">
            {{ commercial_form.webpage|add_class:"validate" }}
            <label for="{{ commercial_form.webpage.id_for_label }}">{{ commercial_form.webpage.label }}</label>
        </div>


        <div class="col s12 center">
            <button class="btn-large waves-effect waves-light amber darken-2" type="submit" name="action">Guardar
                <i class="material-icons right">send</i>
            </button>        
        </div>

    </form>
</div>
{% endblock %}

{% block js %}
{% endblock %}