{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
{% include 'includes/nav.html' %}
{% load widget_tweaks %}

<!--(Restringido)Caso de uso para invitado: CUI
    Caso de uso para usuario: CUU
    Caso de uso para usuario/comercial: CUC  -->

<div class="center row container">
    
    {% if profile.avatar %}
    <img class="col s12 m4 l4 offset-l4 responsive-img" src="{{ profile.avatar.url }} " alt="Contact Person {{profile.get_full_name}} ">
    {% else %}
    <i class="material-icons col s12 m4 l4 offset-l4 cyan-text large container">person_pin</i>
    {% endif %}
    <div class="col s12 center-align"> <h3> {{ profile.user }} </h3> </div>
    <div class="col s12 l6 offset-l3">
      {% if not status %}
      <a href="{% url 'profile_send_request' profile.id %}" class="btn cyan wave-effects light-effect">Enviar solicitud</a>
      {% elif status == 'send' %}
      <a href="{% url 'profile_delete_request' profile.id %}" class="btn cyan wave-effects light-effect">Cancelar solicitud</a>
      {% elif status == 'received' %}
      <a href="{% url 'profile_accept_request' profile.id %}" class="btn cyan wave-effects light-effect">Aceptar solicitud </a>
      {% else %}
      <a href="#" class="dropdown-button right" data-activates="profile-options" ><i class="material-icons">more_vert</i></a>
      <ul id="profile-options" class="dropdown-content">
        <li>                
            <a href="{% url 'delete_friend' profile.id %}" class="btn red wave-effects light-effect">Eliminar amigo</a>
        </li>
      </ul>
      
      {% endif %}
    </div>
    {% if status %}
    <!-- Informacion básica de perfil-->
    <ul class="collapsible col s12 l6 offset-l3" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><h5> Información básica </h5></div>
        <div class="collapsible-body"> {% if profile.is_complete %} <p><b>Nombre completo:</b> {{ profile.get_full_name }}</p>  <p> <b>Teléfono:</b>  {{ profile.cellphone }} </p>{% endif %}</div>
      </li>
      <!-- Informacion de cuenta comercial-->
      {% if profile.is_commertial %}
      <li>
        <div class="collapsible-header"> <h5> Actividad Comercial </h5></div>
        <div class="collapsible-body">Administrador de: {% include "includes/locality_chip.html" with locality=profile.user.commercial.locality %}</div>
      </li> 
      {% endif %}
    </ul>
    {% endif %}
    <div id="test2" class="col s12"></div>
    <div id="test3" class="col s12">{% if profile.is_commertial %} {% endif %}</div>
    
</div>
{% endblock %}