<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Mape | Registro {% endblock %}</title>
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="{% static 'showcase/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'showcase/css/materialize.css' %}">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">       
    <link rel="stylesheet" href="{% static 'showcase/css/map.css' %}">     
</head>
<body>
    <!-- Parallax1 -->
    <div class="parallax-container center-align" >
        <img class="mape-large" src="{% static 'showcase/img/logo_mape.png' %}" width="200">
        <div class="parallax "><img src="{% static 'showcase/img/paisaje.jpeg' %}" ></div>
    </div>

    <div class="cyan section row no-margin no-padding lighten-2">
        <!-- Slides -->
        <div class="slider cyan lighten-2 col l6 s12 no-padding">
            <ul class="slides z-depth-2 ">
              <li>
                <img class="opacado" src="{% static 'showcase/img/mar.jpg' %}"> 
                <div class="caption center-align">
                  <h3 class="white-text "> Nunca mas te pierdas de nada!</h3>
                  <h5 class="light gray-text text-lighten-2">Todos los mejores eventos y lugares en mape</h5>
                </div>
              </li>
              <li>
                <img class="opacado" src="{% static 'showcase/img/atardecell.jpg' %}"> 
                <div class="caption left-align">
                  <h3 class="white-text ">Conoces un lugar especial?</h3>
                  <h5 class="light grey-text text-lighten-3"> Podrás guardarlo, compartirlo y realizar eventos en él.</h5>
                </div>
              </li>
              <li>
                <img class="opacado" src="{% static 'showcase/img/fiesta.jpg' %}"> 
                <div class="caption right-align">
                  <h3 class="white-text">Comparte tus actividades con tus amigos fácilmente.</h3>
                  <h5 class="light grey-text text-lighten-3 hide-on-small-only">Invítalos a cualquiera de tus eventos.</h5>
                </div>
              </li>
              <li>
                <img class="opacado" src="{% static 'showcase/img/tea.jpg' %}"> 
                <div class="caption center-align">
                  <h3 class="white-text">Haz que tu servicio llegue a todas partes!</h3>
                  <h5 class="light grey-text text-lighten-3 hide-on-small-only">Si eres dueño de un negocio comercial puedes suscribirte para recibir beneficios.</h5>
                </div>
              </li>
            </ul>
        </div> 
       
        <!-- Formulario de registro inicial -->
         <div class="col l6 s12 center-align row no-margin">
            <p class="white-text">Estoy regristrado, <a class="btn white cyan-text" href="/">iniciar sesi&oacute;n</a>. | Registrate gratis o ingresa como <a href="/map/">invitado</a>. </p>
            <div class="col s12 m8 l8 offset-m2 offset-l2 white low-border z-depth-2">
                {% load widget_tweaks %}        
                <form action="" method="POST" class="center-align" novalidate>
                    {% csrf_token %}
                    <div class="input-field col s12">
                        <i class="material-icons prefix cyan-text">account_circle</i>            
                        {{ form.username|add_class:"input-text black-text"}}
                        <label class="black-text darken-3" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>                
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix cyan-text">email</i>
                        {{ form.email|add_class:"input-text black-text"}}
                        <label class="black-text darken-3" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>            
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix cyan-text">vpn_key</i>
                        {{ form.password1|add_class:"input-text black-text"}}
                        <label class="black-text darken-3" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix cyan-text">vpn_key</i>
                        {{ form.password2|add_class:"input-text black-text"}}
                        <label class="black-text darken-3" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                    </div>
                       
                    <div class="col s12">
                        <button type="submit" class="waves-effect waves-light amber darken-1 btn">
                            Registrarse
                        </button>     
                        <a href="{% url 'social:begin' 'facebook' %}" class="col s10 offset-s1 m4 offset-m4 btn capitalize l10 offset-l1" style="background-color: #4267b2; ">  Continuar con facebook </a>             
                    </div>
                </form>
            </div> 
            <!-- Formulario de registro inicial -->
         <div class="col l8 s12 offset-l2 center-align row no-margin">
            <p class="white-text tiny-text"> Al dar click en 'resgistrase', acepta las <a href="/conditions/">Condiciones de uso</a> que implican el uso de nuestro servicio y confirma que ha le&iacute;do nuestras <a href="/politics/">Políticas de datos.</a>.   </p>
         </div>
        </div>
    </div>
    <!-- Parallax1 -->
    <div class="parallax-container center-align" >
        <div class="parallax "><img src="{% static 'showcase/img/paisaje.jpeg' %}" ></div>
    </div>
    {% include 'includes/footer.html' %}
    <!-- Jquery -->
    <script type="text/javascript" src="{% static 'showcase/js/jquery.js' %}"></script>
    <!-- Materialize jss -->
    <script type="text/javascript" src="{% static 'showcase/js/materialize.min.js' %}"></script>
    <!-- Rango  jquery materialize para mape -->
    <script src="{% static 'showcase/js/rango-jquery.js' %}"></script>
</body>
</html>