
<div class="card col l3 m4 s12 {% if offer.kind == 1 %} product {% else %} service {% endif %} no-padding">
    {% if offer.image %}
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="{{ offer.image.url }}">
      {% elif offer.kind == 2 %}
  <div class="activator waves-effect waves-block waves-light">
      <i class="opacado material-icons mape-medium large">room_service</i>
      {% elif offer.kind == 1 %}
  <div class="activator waves-effect waves-block waves-light">
      <i class="opacado material-icons large ">local_mall</i>
    {% endif %}
    <span class="activator card-title sombra white-text">{{ offer.name }}</span>
  </div>
  <div class="card-content">
    {% if not offer.price == 0 %} <span class="activator right white-text "><i class="material-icons">attach_money</i> {{ offer.price }}</span>
    {%else%}
    <span class="activator right white-text "><i class="material-icons">spa</i>Gratis</span>
    {% endif %}
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{ offer.get_kind }}<i class="material-icons right">close</i></span>
    <p>{{ offer.description }} <br>
    {% if offer.commercial.ruc == "1400700488100" %}
      <a href="#pay-modal" class="modal-trigger btn cyan">Realizar pago</a> 
    {% endif %}
    
    </p>
  </div>

  <div class="modal" id="pay-modal">
    <div class="modal-content">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons"> tap_and_play </i> Dinero electrónico</div>
          <div class="collapsible-body">Al número <span  class="cyan-text">{{ offer.commercial.telephone }} </span> por el monto de <span class="cyan-text"> ${{ offer.price }} </span> (Llamar al *153#)</div>
        </li>
        <li>
          <div class="collapsible-header"> <i class="material-icons"> account_balance </i> Depósito en Cooperativa Jardín Azuayo</div>
          <div class="collapsible-body"><p>Cuenta de ahorros número: <span  class="cyan-text"> 1400292 </span> <br> De: <span  class="cyan-text"> {{ offer.commercial.locality.owner.get_full_name }} </span> <br> Monto: <span class="cyan-text"> ${{ offer.price }}</p> <p> <br> <i class="red-text material-icons tiny">error_outline</i> Antes de realizar un pago vía depósito asegurese de ponerse en contacto con el vendedor. </p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"> account_balance </i> Depósito en Banco del Austro </div>
          <div class="collapsible-body"><p>Cuenta de ahorros número: <span  class="cyan-text"> 14613854 </span> <br> De: <span  class="cyan-text"> {{ offer.commercial.locality.owner.get_full_name }} </span> <br> Monto: <span class="cyan-text"> ${{ offer.price }}</p> <p> <br> <i class="red-text material-icons tiny">error_outline</i> Antes de realizar un pago vía depósito asegurese de ponerse en contacto con el vendedor. </p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons"> account_balance </i>Depósito en Ban Ecuador </div>
          <div class="collapsible-body"><p>Cuenta de ahorros número: <span  class="cyan-text"> 4005511389 </span> <br> De: <span  class="cyan-text">{{ offer.commercial.locality.owner.get_full_name }} <br> Monto: <span class="cyan-text"> ${{ offer.price }}</p> </span> <p> <br> <i class="red-text material-icons tiny">error_outline</i> Se advierte que  </p></div>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-cyan btn-flat">Cancelar</a>
    </div>
  </div>
</div>