{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% include 'includes/nav.html' %}

<object width="100%" height="800">
	<param name="movie" value="{% static 'showcase/temp/REVISTA DIGITAL.swf' %}">
	<embed width="100%" height="800" type="application/x-shockwave-flash" src="{% static 'showcase/temp/REVISTA DIGITAL.swf' %}"></embed>
</object>
<!--
<div class="center-align">
<iframe class="center" id="pdf" src="{% static 'showcase/temp/REVISTA DIGITAL.pdf' %}" height="900" width="1200" ></iframe>
</div>
-->
{% include 'includes/footer.html' %}
{% endblock %}
