{% load staticfiles %}

<ul class="collection">
    <b>Comentarios</b>
    {% for comment in comments %}
    <li class="collection-item">
        <div class="chip">                        
            {% if comment.profile.avatar %}
            <img src="{{ comment.profile.avatar.url }}" alt="Contact Person">
            {% else %}
            <img src="{% static 'showcase/img/event-header.jpg' %}" alt="Contact Person">
            {% endif %}
            <a href="/profiles/{{ comment.profile.user }}/">{{ comment.profile.user }}</a>
        </div>
        <div class="card-panel comentario-izq">
            {{ comment.text }}
            {% if comment.image %}
            <img src="{{ comment.image.url }}" width="200">
            {% endif %}
        </div>                
        <p class="no-margin tiny-text">Hace <strong>{{ comment.date_joined|timesince }}</strong></p>
    </li>
    {% empty %}
    <li class="collection-item">
        Aún no hay comentarios.
    </li>   
    {% endfor %}

    {% if not user.is_anonymous %}
    <li class="collection-item">
        <form action="/{{ model_name }}/add/comment/" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <input type="hidden" name="{{ model_name }}" value="{{ model_id }}">
            <div class="input-field">
                <input placeholder="Comentanos algo, puedes agregar una imagen" id="comment" name="text" type="text" class="validate">
                <label for="comment">Nuevo comentario </label>
            </div>

            <div class="file-field input-field">
                <div class="btn cyan">
                    <span>Imagen</span>
                    <input id="image" name="image" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            
            <button type="submit" class="waves-effect waves-light cyan darken-2 btn right marginado">
                <i class="material-icons right">send</i>
                Enviar
            </button>
        </form>     
    </li>
    {% else %}
    <li class="collection-item">
        Logueate para comentar.
    </li>
    {% endif %}
</ul>