{% load staticfiles %}

{% if event %}
<div class="card">
    <!-- Imagen de la tarjeta -->
    <div class="card-image z-depth-3 waves-effect waves-block waves-light ">
        {% if not event.front_image %}
        <img class="activator" src="{% static 'showcase/img/event-header.jpg' %}">
        {% else %}
        <i class="activator material-icons large">perm_media</i>
        {% endif %}
    </div>

    <!-- Cabecera de la tarjeta -->
    <div class="card-content row event-card no-margin">
        <!-- Lista de franja -->
        <div class="franja right-align col s12">
            <!-- Estados de proximidad: 
            1.- 1 mes de anticipacion: "Próximamente"
            2.- 2 semanas: "Próxima semana" -->
            Próximamente &#8226;
            <!-- Estados de Evento: 
            1.- Publico
            2.- Privado -->
            Evento Publico &#8226;
            <!-- Gratuito -->
            Gratuito &#8226;
            <!-- Numero total de invitados. (nos reservamos los contadores de [Asistentes, Me gusta]) -->
            {{ event.invited_count }} Invitados
        </div>
        <!-- Activador-Nombre del Evento -->
        <span class="card-title activator grey-text text-darken-4">
            <a href="">{{ event.locality.name }}</a>
            <i class="material-icons right">more_vert</i>
        </span>
        <!-- Fecha del evento -->
        <div class="col s6 card comentario-izq grey lighten-2">
            <i class="material-icons medium">today</i>
            <p class="card-title">{{ event.start }}</p>
            {% if event.link %}
                <p><h2> {{ event.link }}</h2></p>
            {% endif %}
        </div>
        <!-- Event Place -->
        {% if event.locality %}
        <div class="col s6 card comentario-der grey lighten-2">
            <i class="material-icons medium">location_on</i>
            <p>En:
            <div class="chip">
                <img src="{% static 'showcase/img/event-header.jpg' %}" alt="Contact Person">
                <a href="{% url 'locality_detail' event.locality.id %}">{{ event.locality.name }}</a>
            </div>
            <p><a href="#">Ver en el mapa</a>
            </p>
        </div>
        {% endif %}
    </div>

    <!-- Card content -->
    <div class="card-reveal">
        <!-- Info -->
        <span class="card-title grey-text text-darken-4">
            Información:<i class="material-icons right">close</i>
        </span>
        <div class="card-panel gray lighten-3">
            <p align="justify" class="grey-text text-darken-3 lighten-3">{{ event.description }}</p>
            <!-- Boton hacia la pagina detalle del evento -->
            <a href="{% url 'event_detail' event.id %}" class="btn cyan waves-light right"> <i class="material-icons right">visibility</i>Ver más</a>
        </div>
        <!-- Date -->
        <div class="row">
            <div class="col s2 "><i class="material-icons cyan-text large ">today</i></div><H5 class="col s10">{{ event.start }}</H5>
              
            {% if event.is_free %}
            <div class="col s3 right "><i class="material-icons cyan-text large ">stars</i></div>
            <h5 class="col s9 right-align">Gratuito</h5> 
            {% else %}
            <div class="col s3 "><i class="material-icons cyan-text large right">shopping_basket</i></div>
            <h5 class="col s9">Precio: {{ event.cover }} </h5> 
            {% endif %}

            {% if true %}
            <div class="col s3 "><i class="material-icons cyan-text large ">assignment_ind</i></div>
            <h5 class="col s9">{{ object.name }}</h5>
            {%else%}
            <img class="materialboxed col s3 circle" src="{% static 'showcase/img/alcaldia_morona.png' %}" >
            <h5 class="col s9">Organizado por: {{ object.name }}</h5>
            {%endif%}
        </div>
        <!-- Chips de Hashtags: Ofertas para el evento -->
        <div class="col s12 grey lighten-3 comentario-izq">
            <h3><b class="cyan-text col s1">#</b></h3>
            <div class"col s11">
                <div class="chip">
                  <a href="">#RioUpano</a>
                </div>
                <div class="chip">
                  <a href="">#Balneario</a>
                </div>                
                <div class="chip">
                  <a href="">#Comida_italiana</a>
                </div>                
            </div>
        </div>

        <ul class="col s12 collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">perm_data_setting</i>Más opciones</div>
                <div class="collapsible-body row no-margin">
                    <a href="#Auspiciar" class="btn col s6 cyan waves-light"> <i class="material-icons right">trending_up</i>Auspiciar</a>
                    <a href="#Denunciar-modal" class="btn col s6 amber-text text-darken-4 red darken-2 waves-light"> <i class="material-icons right">not_interested</i>Denunciar</a>
                </div>
            </li>
        </ul>
    </div>

    <!-- Card Actions -->      
    <div class="card-action row">
        <a href="" class="btn cyan waves-light col s4 "> <i class="material-icons right">thumb_up</i>Like</a>
        <a href="" class="disabled btn cyan waves-light col s4"> <i class="material-icons right">done</i>Asistir </a>
        <a href="#Invitar" class="disabled btn cyan waves-light col s4"> <i class="material-icons right">supervisor_account</i>Invitar </a>
    </div>   
</div>
{% endif %}

<!-- Modal Denunciar -->
<div id="Denunciar-modal" class="modal">
    <div class="modal-content">
        <h4>Motivo de la denuncia:</h4>
        <div class="input-field col s12">
            <select multiple>
              <optgroup label="team 1">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
              </optgroup>
              <optgroup label="team 2">
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
              </optgroup>
            </select>
            <label>Optgroups</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>  
<!-- Modal Auspiciar -->
<div id="Auspiciar" class="modal">
    <div class="modal-content">
        <h4>Auspicio</h4>
        <p>Modal para confirmar auspicio</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>