{% load static %}

{% if event %}
<div class="card">
    <!-- Imagen de la tarjeta -->
    <div class="card-image z-depth-3 waves-block waves-light ">
        {% if event.front_image %}
        <img class="activator" src="{{ event.front_image.url }}">
        {% else %}
        <i class="activator material-icons large">perm_media</i>
        {% endif %}
        <span class="card-title">{{ event.name }}</span>
    </div>

    <!-- Cabecera de la tarjeta -->
    <div class="card-content row event-card no-margin">
        <!-- Lista de franja -->
        <div class="franja right-align col s12 tiny-text">
             {% if event.get_is_comming == "Esta semana" %}
              <strong class="timeuntil red-text"> En {{ event.start|timeuntil }}</strong>
              {% elif event.get_is_comming == "Cancelado"%}
              <strong class="red-text">Cancelado</strong>
              {% elif event.get_is_comming == "Completado" %}
              <strong class="blue-text">Completado</strong>
              {% endif %}
            {% if event.is_public %}
            Evento Publico &#8226;
            {% endif %}
            <!-- Gratuito -->
            {% if event.is_free %}
            <strong>Gratuito</strong> &#8226;
            {% endif %}
            <!-- Numero total de invitados. (nos reservamos los contadores de [Asistentes, Me gusta]) -->
            {{ event.invited_count }} Invitados
        </div>
        <!-- Activador-Nombre del Evento -->
        <span class="card-title activator text-darken-4 cyan-text">
            <b> {{ event.name }} </b>
            <i class="material-icons right">more_vert</i>
        </span>
        
    </div>

    <!-- Card content -->
    <div class="card-reveal">
        <!-- Info -->
        <span class="card-title grey-text text-darken-4">
            Información:<i class="material-icons right">close</i>
        </span>
        <div class="card-panel gray lighten-3">
            <p align="justify" class="grey-text text-darken-3 lighten-3">{{ event.description }}</p>
            <!-- Boton hacia la pagina detalle del evento -->
            <a href="{% url 'event_detail' event.id %}" class="btn cyan right"> <i class="material-icons right">visibility</i>Ver más</a>
        </div>
        <!-- Date -->
        <div class="row">
            <div class="col s12"><i class="material-icons cyan-text ">today</i><b>{{ event.start }}</b> </div>
            {% if event.locality %}
                <div class="col s12"> <i class="material-icons cyan-text">location_on</i>
                {% include "includes/locality_chip.html" with locality=event.locality %}</div>
            {% endif %}
            {% if event.is_free %}
            <div class="col s3 right "><i class="material-icons cyan-text ">spa</i></div>
            <h5 class="col s9 right-align">Gratuito</h5> 
            {% else %}
            <div class="col s12 "><i class="material-icons cyan-text">attach_money</i> <b>{{ event.cover }} </b></div>
             
            {% endif %}

            {% if event.is_public %}
            <div class="col s3 "><i class="material-icons cyan-text medium ">assignment_ind</i></div>
            Organizado por: <br>
                {% include "includes/locality_chip.html" with locality=event.owner.commercial.locality %}
            {%else%}
            Organizado por: <br>
            <div class="col s3 "><i class="material-icons cyan-text medium ">assignment_ind</i></div>
            {% include "includes/profile_chip.html" with profile=event.owner %}
            {%endif%} 
        </div>
        <!-- Chips de Hashtags: Ofertas para el evento 
        <div class="col s12 grey lighten-3 comentario-izq">
            <h3><b class="cyan-text col s1">#</b></h3>
            <div class"col s11">
                <div class="chip">
                  <a href="">#RioUpano</a>
                </div>
                <div class="chip">
                  <a href="">#Balneario</a>
                </div>                
                <div class="chip">
                  <a href="">#Comida_italiana</a>
                </div>                
            </div>
        </div>
-->
{% if event.is_public %}
{% include "showcase/components/sponsors.html" with sponsors=sponsors commercial_organizer=event.owner.commercial.locality %}
{% endif %}
       <!--  <ul class="col s12 collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">perm_data_setting</i>Más opciones</div>
                <div class="collapsible-body row no-margin">
                    <a href="#Auspiciar" class="btn col s6 cyan waves-light"> <i class="material-icons right">trending_up</i>Auspiciar</a>
                    <a href="#Denunciar-modal" class="btn col s6 amber-text text-darken-4 red darken-2 waves-light"> <i class="material-icons right">not_interested</i>Denunciar</a>
                </div>
            </li>
        </ul> -->
    </div>

    <!-- Card Actions -->      
    <div class="card-action row">
        {% if not event.get_is_comming == "Completado" %}
        <a href="/event/{{ event.id }}/map/" class="btn cyan waves-light col s6"> <i class="material-icons">public</i>Ver mapa </a>
        {% endif %}
        <a href="/event/{{ event.id }}/" class="btn cyan waves-light col s6 "> <i class="material-icons right">visibility</i> Ver más </a>
    </div>  
    {% include "showcase/components/event_guests_modal.html" %} 
</div>
{% endif %}

<!-- Modal Denunciar -->
<div id="Denunciar-modal" class="modal">
    <div class="modal-content">
        <h4>Motivo de la denuncia:</h4>
        <div class="input-field col s12">
            <select multiple>
              <optgroup label="team 1">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
              </optgroup>
              <optgroup label="team 2">
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
              </optgroup>
            </select>
            <label>Optgroups</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>  
<!-- Modal Auspiciar -->
<div id="Auspiciar" class="modal">
    <div class="modal-content">
        <h4>Auspicio</h4>
        <p>Modal para confirmar auspicio</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>