<footer class="footer-container cyan lighten-4">
    <div class="container ">
        <div class="row">
            <div class="col l4 s12 ">
                <H5 class="black-text"> Ayudanos a crecer</H5>
                <p> La aplicaci&oacute;n continuar&aacute; evolucionando tan pronto como se disponga de los recursos necesarios, si quieres ser parte de nuestro crecimiento accede al siguiente link. </p> <a class="btn blue waves-effects" href="#"> Donar</a>
                <a class="btn blue waves-effects" href="#"> Acerca de</a>
            </div>

            <div class="col l4 s12">
                <H5 class="black-text"> Contactanos </H5>
                <p> Si necesitas ponerte en contacto con el equipo de desarrollo puedes escribirnos.</p> 
                <a href="" class="btn blue waves-effect"> Escribir</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright right-align">
        "© 2017-2020 Mape, All rights reserved."
    </div>
    <a class="grey-text text-lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT License</a>
</footer>