<footer class="footer-container">
    <div class="grey lighten-3 fullscreen ">
        <div class="row">
            <div class="col l3 s6 tiny-text">
                <H5 class="cyan-text"> Acerca de </H5>
                <p> Para conocer m&aacute;s sobre Mape, puedes acceder al siguiente link donde te ofrecemos toda la informaci&oacute;n al respecto.</p> 
                <a href="#modal_about" class="btn blue waves-effect waves-light modal-trigger"> Acerca de...</a>
            </div>
            <div class="col l3 s6 tiny-text">
                <H5 class="cyan-text"> Contacto directo </H5>
                <p> Si necesitas ponerte en contacto con el equipo de desarrollo puedes hacerlo con toda confianza.</p> 
                <a href="#modal_contact" class="btn blue waves-effect modal-trigger"> Escribir</a>
            </div>
            <div class="col l3 s6 tiny-text ">
                <H5 class="cyan-text"> Donaciones</H5>
                <p> La aplicaci&oacute;n puede continuar creciendo y gracias a tu ayuda nuestro sueño se puede hacer realidad. </p> 
                <a class="btn blue waves-effects  modal-trigger" href="#modal_donation"> Donar </a>
            </div>
            <div class="col l3 s6 marginado cyan-text">
                <a class="" href="#"> <i class="material-icons ">done</i> facebook</a>
                <br/>
                <a class="" href="#"> <i class="material-icons ">done</i> Twitter</a>
                <br/>
                <a class="" href="#"> <i class="material-icons ">done</i> Youtube</a>
            </div>
            <div class="col s12 divider cyan marginado"></div>
            <div class="col s12 center align cyan-text">
                <a href="/signup/">Registrarse</a> | <a href="/">Iniciar sesion</a> | <a href="/conditions/" >Condiciones de uso</a> | <a href="/politics/">Politicas de datos</a> | <a href="/principles/">Pricipios Mape</a> | <a href="/press/">Prensa</a> 
            </div>
            <div class="col l3 s6">
                
            </div>
            <div class="col l3 s6">
               
            </div>
        </div>
        <!-- Modales -->
        <div class="modal modal-fixed-footer" id="modal_about">
            <div class="modal-content ">
                
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-cyan btn-flat">Aceptar</a>
            </div>
        </div>
        <div class="modal modal-fixed-footer" id="modal_contact">
            <div class="modal-content ">
                
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-cyan btn-flat">Aceptar</a>
            </div>
        </div>
        <div class="modal modal-fixed-footer" id="modal_donation">
            <div class="modal-content ">
                
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-cyan btn-flat">Aceptar</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright right-align">
        © 2017-2020 Mape, All rights reserved.
    </div>
</footer>