{% load staticfiles %}
<nav class="no-margin no-padding">
    <div class="nav-wrapper row cyan navigator">
        <!-- Espacio izquierdo -->
        <ul id="nav-left" class="col l3 m4 s2 " >
            <li>
                <a class="no-padding navigator" href="{% url 'map' %}">
                <img class="hide-on-small-only navigator" src="{% static 'showcase/img/Proy_Mape-02-01.png' %}">
                <img class="hide-on-med-and-up" height="57" src="{% static 'showcase/img/Proy_Mape-01-01.png' %}"></a>
            </li>
        {% if user.is_anonymous %}
            <li>
                <a href="{%url 'signup' %}" class="amber darken-1 hide-on-small-only">Resgistrarse</a>
            </li>
        {% endif %}
        </ul>
        <!-- Espacio central -->
        <ul class="col l4 m4 s5 center no-margin no-padding navigator">
            <li><!-- Boton de Busqueda -->
            <div class="input-field navigator">
                <i class="material-icons prefix">search</i>
                <input id="search2" type="text" class="validate no-padding">
                <label class="white-text" for="search2" data-error="error"> buscar<label>

            </div>
            </li>
        </ul>
        <!-- Espacio derecho -->
        {% if user.is_anonymous %}
        <ul id="nav-right" class="right no-margin no-padding col s5 m3 l3 navigator">
            <div class="row fullscreen">
                <li><a href="{% url 'login' %}" class="btn blue darken-1 "> Login </a></li>
            {%else%}
        <ul id="nav-right" class="right no-margin no-padding col s3 m2 l1 navigator">
                {%if user.profile.avatar %} 
                <li><a id="boton" data-activates="slide-out" ><img class="circle" src="{{ user.profile.avatar.url }}" width="56"></a>  </li>
                {%else%}
                <li><a data-activates="slide-out" id="boton"> <i class="material-icons medium">person_pin</i></a></li>
                {%endif%}
            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="user-view">
                      <div class="background">
                        <img src="{% static 'showcase/img/Fondo-colores.jpg' %}">
                      </div>
                      {%if user.profile.avatar %} 
                      <a href="/profiles/{{ user.username }}/"><img class="circle responsive-img" src="{{ user.profile.avatar.url }}"></a>
                      {%else%}
                      <a href="/profiles/{{ user.username }}/"> <i class="material-icons medium">person_pin</i></a>
                      {%endif%}
                      <a href="#!name"><span class="white-text name">{{ user }}</span></a>
                      <span class="white-text email">{{ user.profile.cellphone }}</span>
                    </div>
                </li>
                <li><a href="/profiles/{{ user.username }}/"> <i class="material-icons">mode_edit</i> Cuenta de usuario</a></li>
                <li><a href="/profiles/{{ user.username }}/friends"> <i class="material-icons">contacts</i> Amigos </a></li>
                <li>
                    <a href="{% url 'notifications' %}">
                        <i class="material-icons">notifications</i> Notificaciones 
                        {% if notifications %}
                        <span class="badge">{{ notifications|length }}</span>
                        {% endif %}
                    </a>  
                </li>
                {% if user.profile.commercial %}
                <li><a href="{% url 'commercial_update' %}"><i class="material-icons">store</i> Mi comercial</a></li> 
                {% else %}
                <li><a href="{% url 'commercial_account' user.username %}" class="amber"><i class="material-icons">store</i> Activar comercial </a></li> 
                {%endif%}
                <li><div class="divider"></div></li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="right" href="/logout/"> <i class="material-icons">power_settings_new</i>Salir</a></li>
            </ul>
            {% endif %}
        </ul>
    </div>
</nav>
