{% if object_list %}
<ul class="collection with-header">
    <li class="collection-header"><h5>{{ title|capfirst }}</h5></li>
    {% for object in object_list %}
    <li class="collection-item avatar">
        <i class="material-icons circle cyan">location_on</i>
        <span class="title">{{ object.name }}</span>
        <p>{{ object.description }} <br>
            {{ object.price }}
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>
    {% endfor %}
    {% if show_all %}
    <li class="collection-item">            
        <a href="{{ all_link }}">Ver todo</a>
    </li>
    {% endif %}
</ul>    
{% endif %}