{% if object_list %}
<ul class="collection with-header">
    <li class="collection-header"><h5>{{ title|capfirst }}</h5></li>
    {% for object in object_list %}
    <li class="collection-item avatar">
        <!-- Offer -->
        {% if object.kind %}
        <a href="/locality/{{ object.commercial.locality.id }}" class="secondary-content "><i class="material-icons medium cyan-text">pageview</i></a>      
            
            {% if object.image %}
        <img src="{{ object.image.url }}" class="circle" >
            {% else %}
        <i class="material-icons circle cyan">store</i>
            {% endif %}
        <a href="/locality/{{ object.commercial.locality.id }}"><span class="title">{{ object.name }}</span></a>
        <p>
            {% if not object.price %}
        Gratis 
            {% else %}
        ${{ object.price }}
            {% endif %}
        </p>
        <!-- Locality -->
        {% elif object.categories %}
        <a href="/locality/{{ object.id }}" class="secondary-content"><i class="material-icons medium cyan-text">pageview</i></a>
        {% include "includes/locality_item.html" with object=object%}
        <!-- Event -->
        {% elif object.start %}
        <a href="/event/{{ object.id }}" class="secondary-content"><i class="material-icons medium cyan-text">pageview</i></a>
            {% if object.front_image %}
        <img src="{{ object.front_image.url }}" class="circle" >
            {% else %}
        <i class="material-icons circle cyan">stars</i>
            {% endif %}
        <a href="/event/{{ object.id }}"><span class="title">{{ object.name }}</span></a>
        <p>
            {% if not object.cover %}
        Gratis 
            {%else%}
        ${{ object.cover }}
            {% endif %}     
        {% endif %}

        <p>{{ object.description }} </p>
    </li>
    {% endfor %}
    {% if show_all %}
    <li class="collection-item">            
        <a href="{{ all_link }}">Ver todo</a>
    </li>
    {% endif %}
</ul>    
{% endif %}