.front-image {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.front-image img {
	width: 100%;
}



.title {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.title h3 {
	display: inline-block;
	margin: 0;
	padding: 25px 30px;
	border-radius: 15px 15px 0 0;
}


.timeuntil {
	margin-top: 5px;
	padding: 15px 0;
}

.timeuntil h2 {
	margin: 0;
}