.front-image {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.front-image img {
	width: 100%;
}

.front-image .title {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.front-image .title h3 {
	display: inline-block;
	margin: 0;
	padding: 25px 30px;
	border-radius: 15px 15px 0 0;
}

.timeuntil h2 {
	margin: 0;
}

.collection-item.small {
	min-height: 65px!important;
}

.select-friend:hover {
	cursor:pointer; 
}

.timeuntil{
    border-radius: 12px;
    border-style: groove;
    border-color: #F44336;
}
.carousel .carousel-item{
	width: 300px;
}
.opacado{
  opacity: 0.7;
}

.highter{
	height: 250px;
}

/* Bordes suavizados */
.low-border {
  border-radius: 12px;
  }

