/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/08/2015, 22:46:10
    Author     : Juan
*/
@import url(//fonts.googleapis.com/css?family=Comfortaa:400,700,300);

html {
  font-family: Comfortaa, sans-serif;
}
#ubicate{
  margin-right: 20px;
}
#map { 
  position:fixed; 
  width:100%; 
  height: 100%; 
  z-index: 0; 
  float: top;
  padding-top: 64px;
}
.my-icon {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: white;
}

.icon-dc {
  background: #3bb2d0;
}

.marginado{
  margin-top: 2em;
  margin-bottom: 2em;
}

.top-margin{ 
  margin-top: 64px; 
}
.no-margin {
  margin: 0;
}
.rota
{
      transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
}
.filme{
  background-color: #e0f7fa;
  border-bottom: none;
   opacity: 0.4;
}
.filme-med{
  opacity: 0.8;
   }

/* colores del boton de posisionamiento */
.leaflet-container a:hover, .leaflet-container.dark a {
    color: #00e5ff !important; 
}
.leaflet-container a {
    color: #00bcd4 !important;
}
i {
  line-height: inherit; }
  i.left {
    float: left;
    margin-right: 15px !important; }
  i.right {
    float: right;
    margin-left: 15px !important; }
  i.tiny {
    font-size: 1rem !important; }
  i.small {
    font-size: 2rem !important; }
  i.medium {
    font-size: 4rem !important; }
  i.large {
    font-size: 6rem !important; }
/*color de fondo en el boton buscador */
textarea.materialize-textarea.valid:focus {
    border-bottom: #388e3c  !important ;
    box-shadow:  #388e3c  !important ;
}

/* Color del tema para los botones que se generan automaticamente */
.btn .btn-large {
  background-color: #00bcd4 !important;
}

/* Colores de paginador MAPA-EVENTOS-COMERCIAL */
.tabs .tab a {
color: #80deea;}
    .tabs .tab a:hover {
     color: #18ffff; }
    .tabs .tab.disabled a {
     color: #b2ebf2  ; }
.tabs .indicator {
 background-color: #80deea;}

/* Colores del contenedor del menu desplegado*/
.dropdown-content li > a, .dropdown-content li > span {
  color: #00bcd4  ; }

/*color de fondo en el boton buscador */
.input-field input[type=search]:focus {
    background-color: transparent;}

/* Posicion del visualizador de imagen */
#materialbox-overlay{
  z-index: 1000;
    }

/* Bordes suavizados */
.low-border {
  border-radius: 12px;
  }

/* Tamaño de fuente del dialogo helper*/
.material-tooltip {
  font-size: 0.7em; }


.indicators .indicator-item.active{
  background-color: white !important; 
}


.frente {position:relative; z-index: 1;}


.fullscreen{
        padding: 0; 
        margin: 0;
        height: 100%;
        width: 100%;
        fullscreen.hd{
            padding-top: 2em;
            padding-bottom: 2em;
        }
    } 
.collapsible-header img{
    width: 30px; height: 30px; 
    margin-top: 0.45em; 
}


.tiny {
  width: 2em;
  height: 2em;
}
/* label color */
   .input-field label {
     color: #0097a7 !important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #0097a7 !important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #00bcd4 !important;
     box-shadow: 0 1px 0 0 #00bcd4 !important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #ff1744 !important;
     box-shadow: 0 1px 0 0 #ff1744 !important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #b2ebf2 !important;
   }
   
   /* Parallax height */
    .parallax-container {
      height: 320px;
    }

.indeterminate{
  color: #00bcd4;
}

.opacado{
  opacity: 0.7;
}
/* Activation, focus, valid texts */
input.valid:not([type]), input.valid:focus:not([type]), input.valid[type="text"], input.valid[type="text"]:focus, input.valid[type="password"], input.valid[type="password"]:focus, input.valid[type="email"], input.valid[type="email"]:focus, input.valid[type="url"], input.valid[type="url"]:focus, input.valid[type="time"], input.valid[type="time"]:focus, input.valid[type="date"], input.valid[type="date"]:focus, input.valid[type="datetime"], input.valid[type="datetime"]:focus, input.valid[type="datetime-local"], input.valid[type="datetime-local"]:focus, input.valid[type="tel"], input.valid[type="tel"]:focus, input.valid[type="number"], input.valid[type="number"]:focus, input.valid[type="search"], input.valid[type="search"]:focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus {
    border-bottom: 1px solid #84ffff !important;
    box-shadow: 0 1px 0 0 #84ffff !important;
}
/* Img without url for smartphones */
img.responsive-img[src="#"]{
  visibility: hidden !important;
}
 /* Font filled */
 .slides .shadow {
color: white !important;
letter-spacing: 2px;
text-shadow: 3px 3px 3px #000;
}
.slides .host a{
color: #263238 !important;
letter-spacing: 2px;
text-shadow: -3px -3px 3px #fff , 3px -3px 3px #fff , -3px 3px 3px #fff , 3px 3px 3px #fff;
}
.slider .slides li img.circle{ 
  height: 20% !important;
  width: 20% !important;
}

.slider .slides li h2{
  margin: 0;
}

.mape-large{
  width: 200px;
}
.mape-medium{
  width: 80px;
}
.mape-tiny{
  width: 42px;
}

.tiny-text{
  font-size: 0.7rem;
}

.nav-large{
  height: 150% !important;
}

.product{
  background-color: #00b0ff !important;
}
.service{
  background-color: #1de9b6 !important;
}

.fringe{
  height: 13px;
  background-color: grey; 
}
strong { 
    font-weight: bold;
    font-size: 14;
}
.capitalize {
  text-transform: capitalize;
}
.transparent {
  background: transparent;
}
#navigator {
  z-index: 999999;
}

.custom-popup .leaflet-popup-content-wrapper {
  background:rgba(10,30,40,0.8);
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }

.popup {
text-align:center;
}
.popup .slideshow .image        { display:none; }
.popup .slideshow .image.active { display:block; }
.popup .slideshow img {
width:100%;
}
.popup .slideshow .caption {
background:#eee;
padding:10px;
}
.popup .cycle {
padding:10px 0 20px;
}
.popup .cycle a.prev { float:left; }
.popup .cycle a.next { float:right; }