{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'showcase/css/map.css' %}" rel="stylesheet">    
    <link href="{% static 'plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
{% include 'includes/nav.html' %}
<div class="center">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s2">
                <a target="_self" class="{% if model == 'all' %}active{% endif %}" href="{% url 'shower' 'all' %}?keyword={{ keyword }}">Todo</a>
            </li>
            <li class="tab col s2">
                <a target="_self" href="{% url 'shower' 'event' %}?keyword={{ keyword }}" class="{% if model == 'event' %}active{% endif %}">Eventos</a>
            </li>
            <li class="tab col s2">
                <a target="_self" href="{% url 'shower' 'locality' %}?keyword={{ keyword }}" class="{% if model == 'locality' %}active{% endif %}">Localidades</a>
            </li>
            <li class="tab col s2">
                <a target="_self" href="{% url 'shower' 'profile' %}?keyword={{ keyword }}" class="{% if model == 'profile' %}active{% endif %}">Personas</a>
            </li>
            <li class="tab col s2">
                <a target="_self" href="{% url 'shower' 'offer' %}?keyword={{ keyword }}" class="{% if model == 'offer' %}active{% endif %}">Ofertas</a>
            </li>           
        </ul>
    </div>    
</div>    

<div class="container">
    {% load shower_tags %} 
    {% if model == 'all' %}       
    {% shower_all keyword %}
    {% else %}
    {% shower_list model keyword %}
    {% endif %}
</div>

{% endblock %}

{% block js %}    
    <script src="{% static 'showcase/js/rango-jquery.js' %}"></script> 
{% endblock %}