{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    <link href="{% static 'showcase/css/event.css' %}" rel="stylesheet">        
    <link href="{% static 'plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'includes/nav.html' %}
<span class="hidden" id="event-info" event-id="{{ event.id }}"></span>
  
<!-- Imagen de portada -->
<div class="front-image">        
    {% if object.front_image %}      
    <img src="{{ object.front_image.url }}" alt="{{ comment.profile }} comment">
    {% else %}
    <img src="{% static '/showcase/img/Fondo-colores.jpg' %}" alt="{{ comment.profile }} comment">
    {% endif %}
    <div class="title center opacado">
        <h3 class="white">{{ event.name }}</h3>        
    </div>
</div>

<div class="right-align fringe tiny-text low-border" >{{ event.get_information }} </div>


<!-- Imagenes -->
{%if object.front_image %}
<div class="carousel black col s12 m12 l6">
    <a class="carousel-item" href="{{ object.front_image.url }}">
        <img src="{{ object.front_image.url }}">
    </a>
    {% for comment in object.comments %}
      {% if comment.image %}
    <a class="carousel-item" href="{{ comment.image.url }}">
        <img src="{{ comment.image.url }}" alt="{{ comment.profile }} comment">
    </a>
      {% endif %}
    {% endfor %}
    {% if object.locality.front_image %}
      <a class="carousel-item" href="{{ object.locality.front_image.url }}">
        <img src="{{ object.locality.front_image.url }}" alt="{{ object.locality }}">
    </a>
    {% endif %}
    {% if object.locality.profile_image %}
      <a class="carousel-item" href="{{ object.locality.profile_image.url }}">
        <img src="{{ object.locality.profile_image.url }}" alt="{{ object.locality }}">
    </a>
    {% endif %}
</div>
{%endif%}
<div class="row">
  <!-- Opciones del evento -->
  <div class="right">
    <a href="{% url 'locality_update' object.id %}" class="waves-effect waves-light cyan btn">Mapa <i class="material-icons tiny">location_on</i></a>
  {% if is_owner %}
    <a href="{% url 'event_update' object.id %}" class="waves-effect waves-cyan btn-flat">Editar</a>
  {%endif%}
  </div>
    <div class="col s12">
      <div class="center">
        <!-- Opciones de evento -->
        <div class="center row">
            {% if False %}
            <div class="col l4 m4 s10 offset-s2 offset-l2 offset-m2 valign-wrapper highter">
            <h4 class="red-text">Cancelado</h4>
            {% elif False %}
            <div class="col l4 m4 s10 offset-s2 offset-l2 offset-m2 valign-wrapper highter">
            <h4 class="blue-text">Completado</h4>
            {% elif False %}
            <div class="col l3 m4 s9 offset-s3 offset-l2 offset-m2 valign-wrapper highter">
            <h4 class="timeuntil red-text pulse">En vivo</h4>
            {% elif True %}
            <div class="col l4 m5 s10 offset-s1 offset-l1 offset-m1 valign-wrapper highter">
            <h4 class="timeuntil">En {{ event.start|timeuntil }}</h4>
            {% if is_sponsor_request %}
            <a href="{% url 'sponsor_accept' event.id %}" class="modal-trigger waves-effect waves-light btn cyan"><i class="material-icons tiny">person_add </i>Auspiciar</a>
            {% endif %}

            {% endif %}
          </div>  
          <!-- Tarjeta con descripcion, informacion basica del evento --> 
          <div class="card col l6 m6 s12">
            <p class="flow-text left-align">{{ event.description }} </p>
            {% if object.locality %}
            <p>Lugar: </p>
            <div class="chip truncate {% if object.locality.commercial %} amber {% endif %} lighten-2">
                {% if object.locality.profile_image %}
                <img src="{{ object.locality.profile_image.url }}" alt="{{ object.locality }}">
                {% else %}
                <img src="{% static 'showcase/img/event-header.jpg' %}" alt="Contact Person">
                {% endif %}                
                <a class="collection-item" href="/locality/{{ object.locality.id }}">{{ object.locality }} </a>
            </div>
            {% endif %}
            <p>Organizado por</p>            
            <div class="chip truncate"> 
              {% if object.owner.avatar %}
              <img src="{{ object.owner.avatar.url }}" alt="Contact Person">
              {% else %}
              <img src="{% static 'showcase/img/event-header.jpg' %}" alt="Contact Person">
              {% endif %}
              <a href="/profiles/{{ object.owner.user.username }}/">{{ object.owner.get_full_name }}</a>
            </div>
            
          </div>
          <!-- Informacion de estados del evento -->
          <div class="col s12">
              <p><i class="tiny material-icons ">query_builder</i>
              {{ event.start }}</p>
              <p><i class="tiny material-icons ">{% if event.cover == 0 %}money_off {% else%} attach_money {% endif %}</i>{% if event.cover == 0 %}Gratis {% else%} Precio: {{ event.cover }} {% endif %}
              {% if not object.is_public %} <i class="material-icons tiny">lock</i> Privado {% else %} <i class="material-icons tiny">public</i> Público {% endif %}</p>
          </div>  
          <!-- Botonera -->
          <div class="col s12">
            {% if is_owner %}
            <a href="#guests_modal" class="modal-trigger waves-effect waves-light btn cyan"><i class="material-icons tiny">person_add </i>Invitar</a>
              {% if object.is_public %}
            <a href="#sponsors_modal" class="modal-trigger waves-effect waves-light btn amber"><i class="material-icons tiny">person_add </i>Pedir auspicio</a>
              {% endif %}
            {% else %}
              {% if not object.is_public %}
            <a href="#guests_modal" class="modal-trigger waves-effect waves-light btn cyan"><i class="material-icons tiny">person_add </i>Invitar</a>
              {% endif %}
            <a href="/event/{{ event.id }}/like/" class="cyan waves-effect waves-light btn"><i class="material-icons tiny">thumb_up</i>Me gusta</a>
            <a href="/event/{{ event.id }}/attend/" class="cyan waves-effect waves-light btn"><i class="material-icons tiny">check_circle</i>Asistiré</a>
            <a href="/event/{{ event.id }}/maybe_attend/" class="cyan waves-effect waves-light btn"><i class="material-icons tiny">help</i>Talvez asista</a>
            <a href="/event/{{ event.id }}/not_atttend/" class="cyan waves-effect waves-light btn"><i class="material-icons tiny">cancel</i>No asistiré</a>
            {% endif %}
          </div>
          <div class="card col s12">       
            {% load comments %}
            {% comment_list object %}
            {% comment_form object %}
          </div>
        </div>
      </div>
    
</div>

{% include "showcase/components/sponsors.html" with sponsors=sponsors %}
{% include "showcase/components/event_guests_modal.html" %}
{% include "showcase/components/event_sponsors_modal.html" %}
{% include "includes/footer.html" %}

{% endblock %}

{% block js %}
    <!-- Rango  jquery materialize para mape -->
    <script src="{% static 'showcase/js/rango-jquery.js' %}"></script>
    <script src="{% static 'showcase/js/event.js' %}"></script>    
{% endblock %}













