{% extends 'base.html' %}

{% block css %}
	{% load staticfiles %}    
    <link href="{% static 'showcase/css/mape.css' %}" rel="stylesheet">    
    <link href="{% static 'plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% load widget_tweaks %}

{{ form.errors }}

<form class="row" action="" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}    
    
    <div class="input-field col s6">
        <input type="date" name="" class="datepicker">
        <label for="{{ form.when.id_for_label }}">{{ form.when.label }}</label>
    </div>
    <div class="input-field col s6">
        <input type="time" name="" class="timepicker">
        <label for="{{ form.when.id_for_label }}">{{ form.when.label }}</label>
    </div>

    <div class="input-field col s12">
        {{ form.name|add_class:"validate" }}
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
    </div>
    <div class="input-field col s12">        
        {{ form.description|add_class:"materialize-textarea validate" }}
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
    </div>
    <div class="input-field col s6">
        {{ form.latitude|add_class:"validate"|attr:"readOnly" }}        
        <label for="{{ form.latitude.id_for_label }}">{{ form.latitude.label }}</label>
    </div>
    <div class="input-field col s6">
        {{ form.longitude|add_class:"validate"|attr:"readOnly" }}        
        <label for="{{ form.longitude.id_for_label }}">{{ form.longitude.label }}</label>
    </div>
    <div class="input-field col s12">        
        {{ form.cover|add_class:"validate" }}
        <label for="{{ form.cover.id_for_label }}">{{ form.cover.label }}</label>
    </div>
    <input type="hidden" name="published_by" value="{{ user.id }}">
    <div class="col s12 center">
        <button class="btn waves-effect waves-light" type="submit" name="action">Guardar
            <i class="material-icons right">send</i>
        </button>        
    </div>
</form>
{% endblock %}

{% block js %}
	{% load staticfiles %}    
    <script src="{% static 'plugins/clockpicker/clockpicker.js' %}"></script>   
    <script src="{% static 'showcase/js/event.js' %}"></script>
{% endblock %}