{% extends 'base.html' %}

{% load staticfiles %}        

{% block css %}
    <link href="{% static 'plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
    <link href="{% static 'showcase/css/event.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'includes/nav.html' %}
{% load widget_tweaks %}

{% include "includes/errors.html" with form=form %}

<div class="row container top-margin">
    <div class="col s12 ">
        <h4 class="center">Nuevo evento</h4>

        
        <form class="row" action="" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class=" col s12">
                <div class="col s12">
                    <div class="switch">
                        <label>
                            Privada
                            {% if user.profile.commercial %}
                            {{ form.is_public }}
                            {% else %}
                            {{ form.is_public|attr:"disabled" }}
                            {% endif %}
                            <span class="lever"></span>                        
                            Pública
                        </label>
                    </div>
                    {% if not user.profile.commercial %} <p class="tiny-text amber-text col s9 m5 l5 low-border">Activa tu cuenta comercial para habilitar esta opción </p> {% endif %}
                </div>
            </div>

            <div class="input-field col m8 offset-m2 l6 offset-l3 ">
                {{ form.name|add_class:"validate" }}
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            </div>
            <div class="input-field col m8 offset-m2 l6 offset-l3">        
                {{ form.description|add_class:"materialize-textarea validate" }}
                <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            </div>
            <div class="input-field col m8 offset-m2 s6">
                {{ form.start_0|add_class:"datepicker-event" }}
                <label for="{{ form.start_0.id_for_label }}">{{ form.start_0.label }}</label>
            </div>

            <div class="input-field col m8 offset-m2 s6">
                {{ form.start_1|add_class:"timepicker" }}
                <label for="{{ form.start_1.id_for_label }}">{{ form.start_1.label }}</label>
            </div>


            <div class="file-field input-field col s12 m6 l6">
                <div class="btn cyan">
                    <span>Imagen</span>
                    {{ form.front_image }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
       
            
            <div class="input-field col s12 m4 l4">        
                {{ form.cover|add_class:"validate" }}
                <label for="{{ form.cover.id_for_label }}">{{ form.cover.label }}</label>
            </div>
            {{ form.latitude }}
            {{ form.longitude }}
            {{ form.locality }}
            <div class="col s12 no-margin grey lighten-2">
                <h5>Ubicación</h5>
                <div class="col s12">
                    <ul class="tabs ">
                        <li class="tab col s3"><a class="active" href="#selected">Seleccionado</a></li>
                        <li class="tab col s3 {% if not localities %} disabled {% endif %} "><a href="#privates">Mis lugares</a></li>
                        <li class="tab col s3 {% if not close %} disabled {% endif %}"><a href="#closer">Cercanos</a></li>
                    </ul>
                </div>
                <div id="selected">
                    {% if object.locality %}
                    {% include "includes/locality_chip.html" with localities=object.locality %}
                    {% else %}
                    <p>Latitud: {{ form.latitude.value }}</p>
                    <p>Longitud: {{ form.longitude.value }}</p>
                    {% endif %}
                </div>
                {% if localities %}
                <div id="privates" class="col s12">
                    <div id="localities" class="container no-margin">
                    
                    {% for locality in localities %}
                        {% include "includes/locality_chip.html" with locality=locality %}
                    {% endfor %}            
                    </div>
                {% endif %}                  
                </div>
                {% if close %}
                <div id="closer" class="col s12">
                    <div id="close" class="container no-margin">
                    {% for locality in close %}
                        {% include "includes/locality_chip.html" with locality=locality %}
                    {% endfor %}            
                    </div>
                {% endif %}              
                </div>
            </div>
            <div class="col s12 center">
                <button class="btn waves-effect waves-light amber darken-2" type="submit" name="action">Guardar
                    <i class="material-icons right">send</i>
                </button>        
            </div>
        </form>    
    </div>
    
</div>


{% endblock %}

{% block js %}	
    <script src="{% static 'plugins/clockpicker/clockpicker.js' %}"></script>
    <script src="{% static 'showcase/js/event.js' %}"></script>    
{% endblock %}