{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    <link href="{% static 'showcase/css/event.css' %}" rel="stylesheet">        
    <link href="{% static 'plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'includes/nav.html' %}
<div class="container">
  <span class="hidden" id="event-info" event-id="{{ event.id }}"></span>
  <div class="title center opacado">
    <h3 class="white">{{ event.name }}</h3>        
  </div>
  <div class="right-align fringe tiny-text low-border" >{{ event.get_information }} </div>

  <!-- Imagenes -->
  {%if object.front_image %}
  <div class="carousel black col s12 m12 l6">
      <a target="" class="carousel-item" href="{{ object.front_image.url }}">
          <img src="{{ object.front_image.url }}">
      </a>
      {% for comment in object.comments %}
        {% if comment.image %}
      <a class="carousel-item" href="{{ comment.image.url }}">
          <img src="{{ comment.image.url }}" alt="{{ comment.profile }} comment">
      </a>
        {% endif %}
      {% endfor %}
      {% if object.locality.front_image %}
        <a class="carousel-item" href="{{ object.locality.front_image.url }}">
          <img src="{{ object.locality.front_image.url }}" alt="{{ object.locality }}">
      </a>
      {% endif %}
      {% if object.locality.profile_image %}
        <a class="carousel-item" href="{{ object.locality.profile_image.url }}">
          <img src="{{ object.locality.profile_image.url }}" alt="{{ object.locality }}">
      </a>
      {% endif %}
  </div>
  {%endif%}
  <div class="row">
    <!-- Opciones del evento -->
    <div class="right">
      {% if is_sponsor_request %}
      <a href="{% url 'sponsor_accept' event.id %}" class="modal-trigger waves-effect waves-light btn amber lighten-1"><i class="material-icons tiny">person_add </i>Auspiciar</a>
      {% endif %}
      <a href="{% url 'locality_update' object.id %}" class="waves-effect waves-light cyan btn">Ver <i class="material-icons tiny">location_on</i></a>
    {% if is_owner %}
      <a href="{% url 'event_update' object.id %}" class="waves-effect waves-cyan btn-flat">Editar</a>
    {%endif%}
    </div>
  </div>
  <div class="center row">
    
    <div class="center row">
    <!-- Status del evento  -->
      {% if object.get_is_comming == "Esta semana" %}
      <div class="col l4 m4 s10 offset-s2 offset-l2 offset-m2 valign-wrapper highter">
      <h4 class="timeuntil"> En {{ event.start|timeuntil }}</h4>
      
      {% elif object.get_is_comming == "Cancelado"%}
      <div class="col l4 m4 s10 offset-s3 offset-l2 offset-m2 valign-wrapper highter">
      <h4 class="red-text">Cancelado</h4>
      {% elif object.get_is_comming == "Completado" %}
      <div class="col l4 m4 s10 offset-s2 offset-l2 offset-m2 valign-wrapper highter">
      <h4 class="blue-text">Completado</h4>
      {% endif %}
      {% if is_sponsor_request %}
      <a href="{% url 'sponsor_accept' event.id %}" class="waves-effect waves-light btn cyan"><i class="material-icons tiny">person_add </i>Auspiciar</a>
      {% endif %}

        
      </div>  
      <!-- descripcion, informacion basica--> 
      <div class="card col l6 m6 s12">
        <p class="tiny-text left-align">Info:</p>
        <p align="justify" class="flow-text ">{{ event.description }} </p>
        {% if object.locality %}
        <p>Lugar: </p>
          {% include "includes/locality_chip.html" with locality=object.locality %}
        {% endif %}
        <p>Organizado por</p>          
        {% if object.is_public %}
          {% include "includes/locality_chip.html" with locality=object.owner.commercial.locality %}
        {% else %}
          {% include "includes/profile_chip.html" with profile=object.owner %}
        {% endif %}
      </div>
      <!-- estados del evento -->
      <div class="col s12">
          <p><i class="tiny material-icons ">query_builder</i>
          {{ event.start }}</p>
          <p><i class="tiny material-icons ">{% if object.cover == 0 %}money_off {% else%} attach_money {% endif %}</i>{% if event.cover == 0 %}Gratis {% else%} Precio: {{ object.cover }} {% endif %}
          {% if not object.is_public %} <i class="material-icons tiny">lock</i> Privado {% else %} <i class="material-icons tiny">public</i> Público {% endif %}</p>

      </div>      
    </div>
      
    </div>  
    
    <!-- Botonera -->
    <div class="col s12">
      {% if is_owner %}
        <a href="#guests_modal" class="modal-trigger waves-effect waves-light btn cyan"><i class="material-icons tiny">person_add </i>Invitar</a>
        {% if object.is_public and is_owner %}
        <a href="#sponsors_modal" class="modal-trigger waves-effect waves-light btn amber"><i class="material-icons tiny">person_add </i>Pedir auspicio</a>
        {% endif %}
        {% if not object.get_is_comming == "Cancelado" and is_owner %}
        <a href="#event_cancel" class="modal-trigger waves-effect waves-light btn red"><i class="material-icons tiny">close </i>Cancelar evento</a>
        <div class="modal" id="event_cancel">
          <div class="modal-content">
            <h4>Advertencia:</h4>
            <p>Si realiza esta accion no podra volver a activar el evento. <br> ¿Desea cancelar el evento?</p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'event_cancel' object.id %}" class="btn modal-action red waves-effect waves-light">Cancelar</a>
            <a href="#!" class=" modal-close waves-effect waves-cyan btn-flat">Salir</a>
            
          </div>
        </div>
        {% endif %}
      {% else %}
        
        {% if object.status == 1 %}
        
          {% if object.is_public %}
          
        <a href="#guests_modal" class="modal-trigger waves-effect waves-light btn cyan"><i class="material-icons tiny">person_add </i>Invitar</a>
          {% endif %}

      <a href="/event/{{ event.id }}/like/" class="cyan waves-effect waves-light btn"><i class="material-icons tiny">thumb_up</i>Me gusta</a>
      <a href="/event/{{ event.id }}/attend/" class="cyan waves-effect waves-light btn"><i class="material-icons tiny">check_circle</i>Asistiré</a>
      <a href="/event/{{ event.id }}/maybe_attend/" class="cyan waves-effect waves-light btn"><i class="material-icons tiny">help</i>Talvez asista</a>
      <a href="/event/{{ event.id }}/not_attend/" class="cyan waves-effect waves-light btn"><i class="material-icons tiny">cancel</i>No asistiré</a>
        {% endif %}
      {% endif %}
    </div>
    <div class="col s8 offset-s2 no-padding container">
      {% load comments %}
    {% comment_list object %}
    {% comment_form object %}
    </div>
    
  </div>
  </div>
</div>
{% if object.is_public %}
{% include "showcase/components/sponsors.html" with sponsors=sponsors commercial_organizer=object.owner.commercial.locality %}
{% endif %}
{% include "showcase/components/event_guests_modal.html" %}
{% include "showcase/components/event_sponsors_modal.html" %}
{% include "includes/footer.html" %}

{% endblock %}

{% block js %}
    <!-- Rango  jquery materialize para mape -->
    <script src="{% static 'showcase/js/rango-jquery.js' %}"></script>
    <script src="{% static 'showcase/js/event.js' %}"></script>    
{% endblock %}













