{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
    <link href="{% static 'showcase/css/event.css' %}" rel="stylesheet">        
    <link href="{% static 'plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<span class="hidden" id="event-info" event-id="{{ event.id }}"></span>
  

<div class="front-image">        
    {% if object.front_image %}      
    <img src="{{ object.front_image.url }}">
    {% else %}
    <img src="{% static 'showcase/img/event-header.jpg' %}">
    {% endif %}
    <div class="title center">
        <h3 class="white">{{ event.name }}</h3>        
    </div>
</div>

{% if is_organizer %}
<div class="center">
    <a href="/event/{{ event.id }}/update/" class="waves-effect waves-teal btn-flat">Editar</a>
    <a class="waves-effect waves-teal btn-flat">Publicar</a>
</div>
{% endif %}

<div class="red center timeuntil">
    <h2>En {{ event.start|timeuntil }}</h2>
    {% if is_organizer %}
    <a href="#guests_modal" class="waves-effect waves-light btn">Invitar</a>
    {% else %}
    <a href="/event/{{ event.id }}/like/" class="waves-effect waves-light btn">Me gusta</a>
    <a href="/event/{{ event.id }}/attend/" class="waves-effect waves-light btn">Asistiré</a>
    <a href="/event/{{ event.id }}/maybe_attend/" class="waves-effect waves-light btn">Talvez asista</a>
    <a href="/event/{{ event.id }}/not_atttend/" class="waves-effect waves-light btn">No asistiré</a>
    {% endif %}
</div>

<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s4"><a class="active" href="#information">Información</a></li>            
            <li class="tab col s4"><a href="#comments">Comentarios</a></li>
            <li class="tab col s4"><a href="#pictures">Fotos</a></li>
        </ul>
    </div>
    <div id="information" class="col s12">
        <div class="section">
            <div class="center">
                <div class="card">
                    <p>Organizado por</p>
                    <div class="chip">                        
                        {% for organizer in event.get_organizers %}
                        {% if organizer.profile.avatar %}
                        <img src="{{ organizer.profile.avatar.url }}" alt="Contact Person">
                        {% else %}
                        <img src="{% static 'showcase/img/event-header.jpg' %}" alt="Contact Person">
                        {% endif %}
                        <a href="/profiles/{{ organizer.username }}/">{{ organizer.get_full_name }}</a>
                        {% endfor %}
                    </div>                    
                </div>

                <div class="card">
                    {{ event.description }}                
                </div>
                
                <div class="card">
                    <i class="small material-icons">query_builder</i>
                    {{ event.start }}
                </div>                
            </div>

            <strong>{{ event.get_information }}</strong>
        </div>
    </div>

    <div id="comments" class="col s12">       
      {% include 'includes/comments.html' with comments=object.comments model_name="event" model_id=object.id %}
    </div>
    <div id="pictures" class="col s12">
        <div class="row">
            {% for comment in object.comments %}
            {% if comment.image %}
            <div class="col s2">
                <img class="materialboxed" style="width: 100%" src="{{ comment.image.url }}">
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<div class="section grey lighten-4">
    <div class="row container">
      <!-- Slides -->
      <div class="section slider col m8 l8 s12 ">
          <ul class="slides">
            <!-- Host account -->
            <li class="cyan">
              <img src="{% static 'showcase/img/mar.jpg' %}"> 
              <div class="caption center-align">
                  <h5 class="white-text shadow"> Un evento de:</h5>
                  <div class="host">
                    <a href="#"><img class="circle" src="{% static 'showcase/img/rihana.jpg' %}" ><h2>Jane Do </h2></a>
                  </div>
              </div>
            </li>
            <!-- Sponsors slides  -->
            <li class="cyan">
              <img src="{% static 'showcase/img/Proy_Mape-01-01.png' %}"> 
              <div class="caption center-align">
                <h5 class="white-text shadow"> Con el auspicio de:</h5>
                <div class="host">
                  <a href="#"><h2>Mape </h2></a>
                </div>
              </div>
            </li>
          </ul>
      </div>
      <!-- Chips para Patrocinadores -->
      <div class="section col m4 l4 s12">
          <div class="chip">
              <img src="{% static 'showcase/img/mar.jpg' %}" alt="Contact Person">
              <a href="#">Jane Do </a>
          </div>          
          <div class="chip">
              <img src="{% static 'showcase/img/fiesta.jpg' %}" alt="Contact Person">
              <a href="#">Don Guiña </a>
          </div>
          <div class="chip">
              <img src="{% static 'showcase/img/tea.jpg' %}" alt="Contact Person">
              <a href="#">Don Tuco Lopez </a>
          </div>
          <div class="chip">
              <img src="{% static 'showcase/img/event-header.jpg' %}" alt="Contact Person">
              <a href="#">Mape </a>
          </div>
          <div class="chip">
              <img src="{% static 'showcase/img/event-header.jpg' %}" alt="Contact Person">
              <a href="#">Jane Do </a>
          </div>
      </div>
    </div>
  </div>

{% include "includes/guests_modal.html" %}
{% include "includes/footer.html" %}

{% endblock %}

{% block js %}
    <!-- Rango  jquery materialize para mape -->
    <script src="{% static 'showcase/js/rango-jquery.js' %}"></script>
    <script src="{% static 'showcase/js/event.js' %}"></script>    
{% endblock %}













