{% extends 'base.html' %}

{% load staticfiles %} 

{% block css %}
    <link href="{% static 'showcase/css/map.css' %}" rel="stylesheet">    
    <link href="{% static 'plugins/select2/select2-materialize.css' %}" rel="stylesheet"> 
{% endblock %}

{% block content %}
{% include 'includes/nav.html' %}
{% load widget_tweaks %}

{{ form.errors }}
{{ commercial_form.errors }}

<div class="row container">
    <div class="col s12 ">
        <h4 class="center">Información de localidad</h4>
        <form class="row" action="" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <div class="col s12">
                <div class="switch">
                    <label>
                        Privada
                        {% if user.profile.is_complete %}
                        {{ form.is_public }}
                        {% else %}
                        {{ form.is_public|attr:"disabled" }}
                        {% endif %}
                        <span class="lever"></span>                        
                        Pública
                    </label>
                </div>
                {% if not user.profile.is_complete %} <p class="amber tiny-text col s9 m5 l5 low-border">Completa tu perfil para habilitar esta opción </p> {% endif %}
            </div>

            <div class="input-field col s12">
                {{ form.name|add_class:"validate" }}
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            </div>
            <div class="input-field col s12">        
                {{ form.description|add_class:"materialize-textarea validate" }}
                <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            </div>

            <div class="file-field input-field col s12">
                <div class="btn cyan waves-effect waves-light">
                    <span>Portada</span>
                    {{ form.front_image }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            <div class="file-field input-field col s12">
                <div class="btn cyan waves-effect waves-light">
                    <span>Perfil</span>
                    {{ form.profile_image }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" >
                </div>
            </div>

            <div class="input-field col s12">
                {{ form.categories|add_class:"select2" }}
            </div>

            {{ form.latitude }}
            {{ form.longitude }}
            {{ form.owner }}            

            <div class="col s12 center">
                <button class="btn amber waves-effect waves-light" type="submit" name="action">Guardar
                    <i class="material-icons right">send</i>
                </button>        
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'plugins/select2/select2.min.js' %}"></script>
{% endblock %}