{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    <link href="{% static 'showcase/css/map.css' %}" rel="stylesheet">    
    <link href="{% static 'plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
{% include 'includes/nav.html' %}
<!-- Parallax -->
<div class="parallax-container no-padding fullscreen">
<h3 class="header sombra grey-text text-lighten-3 center-align">{{ object.name }}</h3>
{% if  object.front_image %}    
  <div class="parallax "><img class="opacado" src="{{ object.front_image.url }}" width="100%"></div>
{% else %}
  <div class="parallax "><img src="{% static '/showcase/img/Fondo-colores.jpg' %}" width="100%"></div>
{% endif %}
</div>

<!-- Informacion extra -->
<div class="right-align fringe tiny-text low-border capitalize">
    {% for category in object.categories.all %}
    {{ category.name }} &#8226;
    {% endfor %}
    <!-- si es publico o privado -->
    {% if object.is_public %}
    Publico &#8226;
    {% else %}
    Privado &#8226;
    {%endif%}
    <!-- Si esta verificado-->
    {% if object.verified %}
    Verificado
    {% endif %}
    ingresado: {{ object.date_joined|date }}
</div>
<!-- boton de editar -->

<div class="right">
<a href="" class="waves-effect waves-light cyan btn">Ver <i class="material-icons tiny">location_on</i></a>
{% if object.owner == user.profile %}
<a href="{% url 'locality_update' object.id %}" class="waves-effect waves-cyan btn-flat">Editar</a>
{%endif%}
</div>


<!-- Seccion central -->
<div class="section container white no-padding row">
    <div class="card">
    <!-- Cabecera de la localidad -->
        <div class="card-content row fullscreen">
            <div class="col s12 m12 l6 row ">
            <!-- Imagen de perfil -->
                {% if  object.profile_image %}                    
                <div class="col center-align col s12 l6 m3 offset-l3 marginado">
                    <img class="event circle z-depth-3" src="{{ object.profile_image.url }}" >
                </div>
                {% endif %}
                <h4 class="grey-text col"> {{ object.get_hash_name }} </h4>
                
                <div class="left-align col">
                    {% load subscribers %}
                    {% subscription object %}
                    <div class="right ">
                        {% if object.is_commertial %}
                        <p>Administrador: </p>
                        {% else %}
                        <p> Subido por: </p>
                        {% endif %}
                        {% include 'includes/profile_chip.html' with profile=object.owner %}
                    </div>
                </div>                    
            </div>
            <div class="divider col"></div>
            <!-- Imagenes -->
            {%if object.profile_image or front_image %}
            <div class="black carousel col s12 m12 l6">
              {%if object.profile_image %}
                <a target="_blank" class="carousel-item" href="{{ object.profile_image.url }}">
                    <img src="{{ object.profile_image.url }}">
                </a>
              {%endif%}
              {% if object.front_image %}
                <a target="_blank" class="carousel-item" href="{{ object.front_image.url }}">
                    <img src="{{ object.front_image.url }}">
                </a>
              {% endif %}
            {%endif%}
            {% for comment in object.comments %}
                {% if comment.image %}
                <a target="_blank" class="carousel-item" href="{{ comment.image.url }}">
                    <img src="{{ comment.image.url }}">
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <!-- Tabs de la tarjeta -->
        <div class="card-tabs z-depth-3">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a class="active" href="#description">Descripción</a></li>
              <li class="tab {% if not object.event_set %} disabled {%endif%}"><a href="#events">Eventos</a></li>
            </ul>
        </div>
        <!-- Contenido de los tabs -->
        <div class="card-content row">
          <div id="description">
            <!-- Descripcion -->
            <div class="card col s12">
              <span class="card-title center-align cyan-text text-darken-2">{{ object.name }}</span>
              <p align="justify"><span>{{ object.description }}</span></p>
            </div>
            <!-- Productos / Servicios-->            
            {% if object.is_commercial and object.commercial.offer_set %}
            <p class="grey-text"> Ofrece:</p>
              {% for offer in  object.commercial.offer_set.all %}
                {% include 'showcase/components/offer_template.html' with offer=offer %}
              {% endfor %}
            {% endif %}
            <!-- Informacion Comercial -->              
            {% include 'showcase/components/commercial_info.html' with commercial=object.commercial %}
          </div>
          <!-- Eventos de la Localidad -->

          
            <div id="events" class="row cyan accent-1 ">            
                <div class="section col s12 m12 l6 offset-l3">
                <!-- Tarjeta de evento -->
                {% for event in object.event_set.all %}                    
                    {% include 'includes/event_card.html' with event=event %}
                {% empty %}                    
                <p>Aun no hay eventos.</p>
                {% endfor %}
                </div>
            </div> 
        </div><!-- Fin tarjeta evento -->
    </div>
{% if not user.is_anonymous and object.is_public %}
    <!-- Postales -->
    <div class="no-padding container">
        {% load comments %}
        {% comment_list object %}
        {% comment_form object %}        
    </div>
{% endif %}
</div>

        {% include 'includes/footer.html' %}
{% endblock %}

{% block js %}
    <script src="{% static 'plugins/clockpicker/clockpicker.js' %}"></script>
    <script src="{% static 'showcase/js/rango-jquery.js' %}"></script> 
{% endblock %}