{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link href='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.css' rel='stylesheet' />
    <link href="{% static 'showcase/css/map.css' %}" rel="stylesheet">
{% endblock %}

{% block nav-left %}
<a class="" href="{% url 'map' %}"><img class="mape-medium"src="{% static 'showcase/img/Proy_Mape-01-01.png' %}"><b>Mape</b></a>
{%endblock%}

{% block nav-right %}
{%if user.profile.avatar %}
<a class="dropdown-button" data-activates="menu-1"><img class=" responsive-img circle" src="{{ user.profile.avatar.url }}" width="60"></a>
{%else%}
<a class="dropdown-button" data-activates="menu-1"> <i class="material-icons medium">person_pin</i></a>
{%endif%}
{%endblock%}

{% block nav-right2 %}
<a class="dropdown-button " data-activates="menu-2"> <i class="material-icons ">info</i></a>
{%endblock%}

{% block nav-center %}
<!-- Boton de Busqueda -->
  <div class="input-field">
      <i class="material-icons prefix ">search</i>
      <input id="search2" type="search" class="validate no-padding">
      <label for="search2"><i class="material-icons prefix">buscar</i><label>
  </div>
{%endblock%}

{% block dropDown-content-2 %}
<!-- Links genericos para cuentas comerciales -->
    <li><a href="/profiles/{{ user.username }}/" class="center"> <i class="material-icons">settings_applications</i>Configuraciones </a></li>
    <li><a href="/logout/" class="center"> <i class="material-icons">power_settings_new</i>Salir</a></li>
{% endblock%}

{% block dropDown-content-1 %}
<!-- Links genericos para cuentas comerciales -->
    {% if user_commertial %}
    <li><a href="" class="center"> <i class="material-icons">assignment_ind</i>{{ user_commertial.commertial_name }}</a></li>
    {% endif %}
    <li class="divider"></li>
    <li><a href="/profiles/{{ user.username }}/" class="center"> <i class="material-icons">settings_applications</i>Configuraciones </a></li>
    <li><a href="/logout/" class="center"> <i class="material-icons">power_settings_new</i>Salir</a></li>
{% endblock%}

{% block content %}
<div id="map"></div>

<div id="event-modal" class="modal">
    <div class="modal-content center">
        <h4> Opciones de mapa </h4>
        <p>Asegúrese de que ha seleccionado la ubicación exácta si desea registrar:</p>
        
        <a href="#" id="btn-event-register" class="btn cyan">
        	<i class="material-icons left">room</i>
        	Registrar un Evento
        </a>

        <a href="#" id="btn-locality-register" class="btn cyan">
            <i class="material-icons left">room</i>
            Registrar una localidad
        </a>
        
        <div class="modal-footer">
            <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </div>
    
</div>
{% endblock %}

{% block js %}
	{% load staticfiles %}
	<script src="https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.js"></script>
	<script src="{% static 'showcase/js/map.js' %}"></script>
{% endblock %}