{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link href='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.css' rel='stylesheet' />
    <link href="{% static 'showcase/css/map.css' %}" rel="stylesheet">
{% endblock %}

{% block nav-left %}
<li><a class="" href="{% url 'map' %}"><img class="mape-tiny"src="{% static 'showcase/img/Proy_Mape-01-01.png' %}"><b>Mape</b></a></li>
{% if not request.session %}
    <li><a href="{%url 'signup' %}" class="amber darken-1">Resgistrarse</a></li>
{% endif %}
{%endblock%}

{% block nav-right %}
    {% if not request.session %}
        <li><a href="{% url 'login' %}" class="btn blue darken-1">Iniciar Sesi&oacute;n</a></li>
    {%else%}
        <li><a class="dropdown-button" data-activates="menu-1"> <i class="material-icons medium">info</i> Notifications <span class="new badge cyan">4</span></a></li>
        {%if user.profile.avatar %} 
            <li><a class="dropdown-button" data-activates="menu-2"><img class=" responsive-img circle" src="{{ user.profile.avatar.url }}" width="60"></a></li>
            {%else%}
                <li><a class="dropdown-button" data-activates="menu-2"> <i class="material-icons medium">person_pin</i></a></li>
        {%endif%}
    {% endif %}
{%endblock%}


{% block nav-center %}
<!-- Boton de Busqueda -->
  <div class="input-field">
      <i class="material-icons prefix ">search</i>
      <input id="search2" type="search" class="validate no-padding">
      <label for="search2"  data-error="wrong"> buscar<label>
  </div>
{%endblock%}

{%if not request.session %}
    <!-- Contenido del dropdown Notificaciones -->
    {% block dropDown-content-1 %}
    <li><div class="collection">
        <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
        <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
        <a href="#!" class="collection-item">Alan</a>
        <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
      </div></li>
    <li class="divider"></li>
    <li><a href="" class="center"> Ver mas </a></li>
    {%endblock%}

    <!-- Contenido del dropdown Configuraciones de cuenta -->
    {% block dropDown-content-2 %}
    <li><a href="/profiles/{{ user.username }}/" class="center"> <i class="material-icons">settings_applications</i>Configuraciones </a></li>
    <li><a href="/profiles/{{ user.username }}/friends" class="center"> <i class="material-icons">group</i>Contactos </a></li>

        <!-- Links genericos para cuentas comerciales -->
        {% if user.profile.is_commertial %}
        
        <li><a href="/locality/" class="center"> <i class="material-icons">assignment_ind</i>{{ user_commertial.commertial_name }}</a></li>
        {% endif %}
    <li class="divider"></li>
    <li><a href="/logout/" class="center"> <i class="material-icons">power_settings_new</i>Salir</a></li>
    {% endblock%}
{%endif%}

{% block content %}
<div id="map"></div>

<div id="event-modal" class="modal">
    <div class="modal-content center">
        <h4> Opciones de mapa </h4>
        <p>Asegúrese de que ha seleccionado la ubicación exácta si desea registrar:</p>
        
        <a href="#" id="btn-event-register" class="btn cyan">
        	<i class="material-icons left">room</i>
        	Registrar un Evento
        </a>

        <a href="#" id="btn-locality-register" class="btn cyan">
            <i class="material-icons left">room</i>
            Registrar una localidad
        </a>
        
        <div class="modal-footer">
            <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </div>
    
</div>
{% endblock %}

{% block js %}
	{% load staticfiles %}
	<script src="https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.js"></script>
	<script src="{% static 'showcase/js/map.js' %}"></script>
{% endblock %}