{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link href='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.css' rel='stylesheet' />
    <link href="{% static 'showcase/css/map.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'includes/nav.html' %}
<div id="map"></div>

<div id="event-modal" class="modal">
    <div class="modal-content center">
        <h4> Opciones de mapa </h4>
        <p>Asegúrese de que ha seleccionado la ubicación exácta si desea registrar:</p>
        
        <a href="#" id="btn-event-register" class="btn cyan">
        	<i class="material-icons left">room</i>
        	Registrar un Evento
        </a>

        <a href="#" id="btn-locality-register" class="btn cyan">
            <i class="material-icons left">room</i>
            Registrar una localidad
        </a>
        
        <div class="modal-footer">
            <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
    </div>
    
</div>
{% endblock %}

{% block js %}
	{% load staticfiles %}
	<script src="https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.js"></script>
	<script src="{% static 'showcase/js/map.js' %}"></script>
{% endblock %}