<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Mape | Encuetra eventos a tu alrededor{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">     
    <!-- Icono -->
    <link rel="shortcut icon" href="{% static 'showcase/img/Mape-icon.ico' %}" />       
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'plugins/settings.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block css %}{% endblock %}    
</head>
<body>    

    <nav>
        <div class="nav-wrapper cyan">
          <a href="{% url 'map' %}" class="brand-logo left">
              <img src="{% static 'showcase/img/Proy_Mape-01-01.png' %}">              
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="">
                    Notificaciones
                    {% if profile_requests %}
                    <span class="new badge">{{ profile_requests|length }}</span>
                    {% endif %}
                </a>
            </li>
            <li><a href="/profiles/{{ user.username }}/">Cuenta</a></li>
            <li><a href="/logout/">Salir</a></li>            
          </ul>
        </div>
    </nav>
    
    {% block content %}{% endblock %}
   
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>    
    <script src="{% static 'plugins/init.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>