<!DOCTYPE html>
{% load staticfiles %}

<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Mape | Mapa de eventos {% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">     
    <!-- Icono -->
    <link rel="shortcut icon" href="{% static 'showcase/img/Mape-icon.ico' %}" />       
    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'plugins/settings.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block css %}{% endblock %}    
</head>
<body>{% block content %}{% endblock %}    
    <div id="fb-root"></div>
    <script src="{% static 'plugins/jquery/jquery-3.2.1.min.js' %}"></script>    
    <script src="{% static 'showcase/js/materialize.js' %}"></script>    
    <script src="{% static 'showcase/js/materialize.min.js' %}"></script>    

    <script src="{% static 'plugins/init.js' %}"></script>
    <script src="{% static 'plugins/csrftoken.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>