<ul class=" center-align">        
    {% if not user.is_anonymous %}
    <li class="">
        <form action="{% url 'add_comment' %}" method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.object_id }}
            {{ form.contenttype }}

            <div class="input-field">        
                {{ form.content }}
                <label for="comment">Comentario: </label>
            </div>

            <div class="file-field input-field">
                <div class="btn cyan">
                    <i class="material-icons">add_a_photo</i>
                    {{ form.image }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            
            <button type="submit" class="waves-effect cyan btn right marginado">
                Subir
            </button>
        </form>    
    </li>
    {% else %}
    <li class="">
        Inicia sesión para comentar.
    </li>
    {% endif %}
</ul>