{% load staticfiles %}

<ul class="grey lighten-3 center-align ">
    <b>Tarjetas Postales </b>
    {% for comment in comments %}
    <li class=" left-align">
        
        <div class="card-panel no-margin">
        <!-- Comprobar si el usuario es dueño del comentario o el administrador del objeto (evento o localidad) -->
        {% if comment.profile.user == user  %}
        <a href="#1" class="dropdown-button right" data-activates="comment-options" ><i class="material-icons">more_vert</i></a>
        <ul id="comment-options" class="dropdown-content">
            <li>                
                <form action="{% url 'delete_comment' comment.id %}" method="post">
                    {% csrf_token %}                    
                    <button type="submit" class="btn red white-text"><i class="material-icons">delete</i> Eliminar</button>                   
                </form>
            </li>
        </ul>
        {% endif %}
        <!-- Perfil del usuario -->
            {% include 'includes/profile_chip.html' with profile=comment.profile %}
            : {{ comment.content }}
            <!-- Imagen del comentario -->
            {% if comment.image %}
            <img class="materialboxed mape-large" data-caption="{% if comment.profile.is_complete %}{{ comment.profile.get_full_name }}{% else %}{{ comment.profile.user.username }}{% endif %}: {{ comment.content }}" src="{{ comment.image.url }}" width="100%">
            {% endif %}
        </div>                
        <p class="no-margin tiny-text">Hace <strong>{{ comment.date|timesince }}</strong></p>
    </li>
    {% empty %}
    <li class="">
        Aún no han hecho una postal.
    </li>   
    {% endfor %}
</ul>
