{% load staticfiles %}

<div class="col s12">




<!-- Comments collection -->
<b>Comentarios </b>
    {% for comment in comments %}
    <ul class="collection">
        <li class="collection-item avatar">
            <!-- Individual post -->
            {% if comment.profile.avatar %}
            <img src="{{ comment.profile.avatar.url }}" alt="{{ comment.profile__user.username }}" class="circle">
            {% endif %}
            <span class="title"><a href="/p/{{ comment.profile }}">{{ comment.profile }}</a></span>
            <p>{{ comment.content }}
            {% if comment.image %}
            <img class="materialboxed mape-large " data-caption="{% if comment.profile.is_complete %}{{ comment.profile.get_full_name }}{% else %}{{ comment.profile.user.username }}{% endif %}: {{ comment.content }}" src="{{ comment.image.url }}" width="100%">
            {% endif %}
            </p>
            {% if comment.profile == user.profile %}
            <a href="#1" class="dropdown-button secondary-content" data-activates="comment-options{{ comment.id }}" ><i class="material-icons cyan-text">more_vert</i></a>
            <!-- Comment options dropdown -->
            <ul id="comment-options{{ comment.id }}" class="dropdown-content">
                <li>                
                    <form action="{% url 'delete_comment' comment.id %}" method="post">
                        {% csrf_token %}                    
                        <button type="submit" class="btn red white-text"><i class="material-icons">delete</i> Eliminar</button>                   
                    </form>
                </li>
            </ul>
            {% endif %}
            <p class="no-margin tiny-text">Hace <strong>{{ comment.date|timesince }}</strong></p>
        </li>
        
    </ul>
   
    {% empty %}
    <li class="">
        Sé la primera persona en comentar o subir una imagen.
    </li>   
    {% endfor %}
</ul>
</div>

